/* Natural Sciences Society Website 2014
 *
 * Joshua Borrow
 * Durham University
 * joshua.borrow@durham.ac.uk */

html * {
	margin:0;
	padding:0;
	color:#181818;
}

body * {
	font-family:sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family:"Rokkitt", sans-serif;
	padding-top:0.25em;
}

img {
	width:inherit;
	border:1px solid #7E317B;
}

a {
	color:#006388;
	text-decoration:none;
	font-family:inherit;
}

p {
	padding:0.5em 0 0.5em 0;
}

/* TITLE */

.title img {
	width:40em;
	padding:1em;
	margin:auto;
}

.title {
	width:100%;
	text-align:center;
	background-color:#7E317B;
}

/* NAVBAR */

.navbar {
	text-align:center;
	clear:both;
	background-color:#006388;
}

.navbar li {
	list-style:none;
	padding:1em;
	display:inline-block;
	color:white;
}

.navbar li a {
	text-decoration:none;
	color:inherit;
}

.navbar li:hover {
	background-color:white;
	color:black
}

#thisPage {
	background-color:white;
	color:#181818;
}

/* CONTAINER */

.container {
	padding-top:1em;
	max-width:60em;
	margin:auto;
}

.upcomingcontainer {
	max-width:42.1em;
	background-color:#eeeeee;
	padding:0.5em 1em 1em 1em;
	margin:auto;
	margin-top:1em;
	overflow:auto;
}

/* MAIN */

.main {
	width:35em;
	float:left;
	background-color:#eeeeee;
	/* Padding like this because of header padding otherwise top overfull */
	padding:0.5em 1em 1em 1em;
	margin:0 1em 1em 0;
}

/* SIDEBAR */

.sidebar {
	width:20em;
	float:left;
	background-color:#eeeeee;
	padding:0.5em 1em 1em 1em;
}

.upcoming {
    max-width:20em;
    float:left;
}

.upcoming:hover {
	opacity:0.8;
}

.upcoming h1 {
    font-size:1.5em;
}

.upcoming img {
    max-width:20em;
    border:1px solid black;
}

.upcomingh1 {
	padding-left:0.25em;
}

.upcomingcontainer .upcoming {
    margin:0 0.5em 0 0.5em;
}

/* FOOTER */

.getsinway {
	clear:both;
	height:10em;
	width:10em;
}

.footer {
	padding:1em;
	background-color:#eeeeee;
	clear:both;
}

/* PREVIOUS */

.datesinpast {
    min-width:7.5em;
    min-height:2em;
    font-size:1.5em;
    text-align:center;
    display:inline-block;
	padding:0.5em;
	font-family:"Rokkitt";
	color:#006388;
}

.textinpast {
    font-size:1.5em;
    padding:0 0 0.5em 0.5em;
	font-family:"Rokkitt";
}

/* ABOUT */

.exec {
	overflow:auto;
	padding:0.5em 0 0.5em 0;
}

.exec img {
	border:0;
	float:left;
	width:8em;
	padding-right:1em;
}
